/* * {
    padding: 0;
    margin: 0;
} */

/* .cardCareer {
    padding: 10px !important;
    margin: 10px !important;
} */

.CLink {
    color: black !important;
    text-decoration: none !important;
}