@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* * {
    box-sizing: border-box;
} */

.body {
    background: url("https://picsum.photos/1920/1080?random=1");
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #111111;
    color: #ffffff;
    max-width: 860px;
    padding: 60px 30px;
}

.text {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 500;
    height: 400px;
    overflow-y: auto;
    padding: 0 20px;
}

.text h2 {
    text-transform: uppercase;
}

.box .text h4 {
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}

.box h4 span {
    color: #197056;
}

.text::-webkit-scrollbar {
    background-color: #282828;
    width: 2px;
}

.text::-webkit-scrollbar-thumb {
    background-color: #197056;
}

/* .buttons {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    color: #ffffff;
    font-size: 19px;
    width: calc(50% - 6px);
    height: 50px;
    border: 0;
    border-radius: 6px;
    transition: 0.3s linear;
}

.btn:hover {
    opacity: 0.6;
}

.btn-accept {
    background-color: #197056;
}

.btn-decline {
    background-color: #282828;
} */

@media only screen and (max-width: 600px) {
    body {
        background: #111111;
    }
}